.comment_wrapper
  .comment_left
    = image_tag(comment.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
    = link_to comment.user.name, user_path(comment.user)

  .comment_right{id: comment.id}
    .comment_text
      = comment.content
    -if user_signed_in?
      -if current_user.id == comment.user_id
        = link_to 'Edit', "/prototypes/#{@prototype.id}/comments/#{comment.id}/edit", class: 'btn-default btn comment-edit'
  .comment_bottom
